.editor {
    display: flex;
    justify-content: center;
    gap: 10px;
    flex-direction: column;
}

.buttons-div {
    display: flex;
    align-items: center;
    gap: 10px;
}

button {
    padding: 10px 20px;
    font-size: 15px;
    font-weight: 500;
    color: #000;
    background-color: #fff;
    border: 0;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.2s ease, transform 0.1s ease;
}
  
button:hover {
  background-color: #cacaca;
}

button.active {
    background-color: #818181;
}


textarea {
    width: 90vw;
    height: 50vh;
    padding: 12px 14px;
    font-size: 15px;
    font-family: inherit;
    color: #000;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 4px;
    resize: vertical;
    transition: border-color 0.2s ease, box-shadow 0.2s ease, font-weight 0.2s ease, font-size 0.1s ease;
    resize: none;
}